@import url('/base.css');

/* Quy tắc CSS cho màn hình có chiều rộng nhỏ hơn hoặc bằng 768px */
@media only screen and (max-width: 768px) {
    .header__navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header__navbar-navPage {
        min-width: 0;

    }

    .header__navbar-navPage--button {
        font-size: 1.4rem;
        border-radius: 50px;
        background: none;
        border: none;
        padding: 5px 10px;
        position: relative;
        line-height: 1;

    }

    .header__navbar-logo--name {
        display: none;
    }

    .header__search {
        margin: 0 20px;
    }

    .header__search-input {
        display: none;
    }


    .header__search:hover .header__search-input {
        display: flex;

    }

    .header__search:not(:hover) .header__navbar-logo--img,
    .header__search:not(:hover) .header__navbar-logo--name {
        display: none;
    }

}

/* Quy tắc CSS cho màn hình có chiều rộng nhỏ hơn hoặc bằng 560px */
@media only screen and (max-width: 560px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .header__navbar {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .header__navbar-logo {
        position: absolute;
        width: 100%;
        margin-right: auto;
        justify-content: center;
        order: 2;
        flex-grow: 6;

    }



    .header__mobile-menu {
        display: block !important;
        order: 1;
        flex-grow: 1;
    }

    /*****************************************************/

    .header__mobile-menu--menu-list {
        display: block;

        width: 59px;
        height: 50px;
        background: var(--primary-color);
        -webkit-clip-path: circle(24px at 30px 24px);
        clip-path: circle(24px at 32px 24px);
        z-index: 20;
        -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
        transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    }

    .header__mobile-menu--menu-list:hover {
        position: absolute;
        width: 200px;
        top: 28px;
        opacity: 0.99;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        -webkit-transition-duration: 0.75s;
        transition-duration: 0.75s;
        -webkit-clip-path: circle(390px at 32px 24px);
        clip-path: circle(390px at 32px 24px);
    }


    .b {
        font-size: 1.4rem;
        font-weight: 500;
        display: block;
        position: relative;
        top: 9px;
        background-color: var(--white-color);
        text-align: left;
        line-height: 50px;
        padding: 0 20px;
        color: inherit;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    

    .b:hover {
        background:var(--highlight-color);

    }

    .b:active {
        background: var(--highlight-color);
    }

    .header__mobile-menu--menu-icon {
        
        padding: 20px 20px;
        border-radius: 50%;
        cursor: pointer;
        -webkit-transform-origin: 32px 24px;
        -ms-transform-origin: 32px 24px;
        transform-origin: 32px 24px;
    }

    .header__mobile-menu--menu-icon {
        display: block;
        font-size: 2rem;
        /* position: absolute; */
        width: 20px;
        height: 20px;
        background: none;
        transform: translate(4px, -6px);
    }

    /****/
    /*menu-search*/
    .menu__search-box{
        position: relative;
        top: auto;
    }
    .menu__search-box.menu__search-wrap{

        padding: 10px 0 ;
    }
    .menu__search-wrap{
        width: 100%;
        display: flex;
        padding: 15px 2px;
        font-size: 1.4rem;
        top: 10px;
        border: 2px solid var(--main-color);
        border-radius: 10px;
        background-color: var(--white-color);
        z-index: 1;
        
        position: relative;
        justify-content: space-between;
    }
    .menu__search-input{
        width: 85%;
       
        
    }
    input{
        margin: 0 2px;
    }
    .menu__search-btn{
        position: relative;
        background-color: transparent;
        cursor: pointer;
    }
    .menu__search-btn:hover{
        background-color: #333 50%;
        opacity: 0.1;
    }
    .menu__search-btn-icon{
        background-color: none;
        font-size: 1.6rem;
        color: var(--text-color);
        width: 100%;
        transform: translateX(-8px);
    }
    /*******************************/
    .header__navbar-navPage {
        display: none;
    }

    .header__search {
        display: none !important;
    }


    .header__quote {
        order: 3;
        z-index: 3;
    }



    .header__quote-button {
        flex-grow: 2;
        order: 3;
    }
    


}

/* Phần CSS chung */
.header {
    height: var(--header-height);
    width: 100%;
    border: 5px;
    border-color: var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid var(--border-color);
}

.header__navbar {
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.logo-link{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.header__navbar-logo {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 20px;
    padding: 0 20px;
}

.header__navbar-logo--img {
    display: block;
    width: 68px;
    height: 68px;
    left: 60px;
    margin: 6px;
}

.header__navbar-logo--name {
    width: 15%;
    height: 40px;
    top: 40px;
    left: 185px;
    font-family: Montserrat;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: justify;
    color: var(--main-color);
}

.header__navbar-logo--menu {
    display: none;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.header__navbar-navPage {
    min-width: 35%;
    padding: 0 20px;
}

.header__navbar-navPage--button {
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 1.15;
    padding: 10px 20px;
    border-radius: 50px;
    background: none;
    border: none;
    position: relative;
    font-weight: 700;
    white-space: nowrap;
}

.header__navbar-navPage--button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.header__navbar-navPage--button:hover::before {
    content: '';
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    transition: background-color 0.3s ease, opacity 0.3s ease;

}

.header__navbar-navPage--button a {
    width: 96px;
    height: 24px;
    top: 68px;
    left: 455px;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

.header__search {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    /* min-width: 50% !important; */
    z-index: 1;
}

.header__search-input-wrap {
    display: flex;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    position: relative;
    justify-content: space-between;

}

.header__search-input {

    width: 85%;
    border: none;
}

input {
    outline: none;
    margin: 0 10px;
    min-width: 30px;

}

.header__search-btn {
    position: relative;
    background-color: transparent;
    cursor: pointer;
    outline: none !important;

}

.header__search-btn-icon {
    color: var(--text-color);
    width: 100%;
    padding-left: 15px;
    border: none;
}

.header__search-btn:hover {
    background-color: #333 50%;
    opacity: 0.1;
    font-size: 1.4rem;
    outline: none;
}

.header__quote {
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.4rem;
    margin: 20px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.header__quote-button {
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--white-color);
    font-size: 1.4rem;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    outline: none !important;
}

.header__quote:hover,
.header__quote-button:hover {
    background-color: var(--border-color);
    opacity: 0.99;
    cursor: pointer;
    outline: none !important;
}

.header__mobile-menu {
    display: none;
}

.header__navbar-logo--menu {
    display: block;
}

.header__navbar-logo--menu-icon {
    display: inline-block;
    color: var(--text-color);
    font-size: 2rem;
}

/* --body-- */
main {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    height: 600px;
    width: 100%;
    height: 100% !important;
    
}
.grid{
    height: 100%;
}
.row{
    width: 100% !important;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(223, 233, 244, 0.4);
    padding:  0 3%;
    
    
    .newProject-box{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .project-title{
            margin: auto;
            font-size: 2.6rem;
            font-weight: 800;
            padding: 20px;
            left: 0;
        }
        .project-description{
            padding: 20px;
            font-size: 1.4rem;
            justify-content: flex-start;
        }
    }
    .pro-img{
        width: 100%;
        height: 100%;
        padding: 20px;
        .img{

            border-radius: 5px;
        }
    }
}
.row-2{
    width: 100% !important;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 3%;
    height: 100%;
}
/* Trong CSS của bạn */
.hero-carousel {
    .single-carousel {
      img {
        width: 100%;
        height: 80vh;
        object-fit: cover;
        object-position: 50% 50%;
        transition: opacity 0.5s ease;
        z-index: 1;
      }
      
    }
    
  }
  .slick-prev{
    position: absolute;
    z-index: 1;
    left: -3%;
    top: 50%;
  }
  .slick-next{
    z-index: 1;
    top: 50%;
    right: 10px;
    position: absolute;
    right: -3%;
  }
 .slick-prev, .slick-next{
    font-size: 2rem;
    padding: 6px 12px;
    background-color: transparent;
    color: var(--main-color);
    font-weight: 500;
    outline: none;
    text-decoration: none;
    border-radius: 50%;
 }
 .slick-prev:hover, .slick-next:hover{
    
    background-color: var(--primary-color) ;
    opacity: 0.5;
    
    
 }
 .fa-angle-left,.fa-angle-right{
    background-color: transparent;
    text-decoration: none;
    color: var(--main-color);
 }
.newProject-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.pro-img{
    width: 100%;
    height: 100%;
    .img{
        width: 100%;
    }
}
.hero-carousel{
    width: 100%;
    height: 100%;
}
.body-carousel-box{
    height: 100%;
    width: 100%;
    .item{
        display: block;
        object-fit: cover;
        margin: 5px;
        
        
    }
}
.body-picture {
    width: 100%;
    height: auto;
}
.hero-carousel .single-carousel img {
    width: 100%;
    height: 30vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    transition: opacity 0.5s ease;
    z-index: 1;
}
////*create project button*/
 
.create-project {
    font-size: 3rem;
    font-weight: 800;
    border-radius: 50px;
    padding: 20px 30px;
    border: none;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 1.4rem;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    outline: none !important;
}


.create-project:hover {
    background-color: var(--border-color);
    opacity: 0.99;
    cursor: pointer;
    outline: none !important;
}
/***************foooter*************************/
footer{
    margin:10px 0 0 0;
    display: flex;
   height: 12vh;
   z-index: 1;
    
}
.footer-box{
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.web-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3%;
    width: 50%;
    .contact{
        display: block;
        justify-content: flex-start;
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .info{
        font-size: 1.2rem;
        font-weight: 300;
    }
}
.follow-us{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .follow-title{
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    .logo-box{
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
        color: var(--text-color);
        width: 15%;
    }
}
